/* Reset some default styles */
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

/* Define variables */
:root {
  --beige-color: rgb(187, 148, 118);
}

/* About Page styles */
.AboutPage {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AboutPage h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Highlight on hover */
.beige {
  color: var(--beige-color);
  position: relative;
}

.beige::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f7e8c4;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.beige:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* About Content */
.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.aboutContent p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 37px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

/* Bitmoji Image */
.bitmojiImage {
  width: 350px;
  height: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}

.bitmojiImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query */
@media (max-width: 767px) {
  .bitmojiImage {
    display: none;
  }

  .AboutPage h2 {
    font-size: 40px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aboutContent p {
    line-height: 25px;
    font-size: 13px;
  }
}
