.HomePage {
  padding: 50px;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeContent h2 {
  font-family: "Oswald", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.homeContent h3 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}
.homeContent p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 35px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.isaImage {
  width: 350px;
  height: auto;
  filter: drop-shadow(20px 20px 10px rgb(187, 148, 118));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.isaImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.beige {
  color: rgb(187, 148, 118);
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}
.buttonHome {
  background-color: rgb(187, 148, 118);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.buttonHome1:hover {
  box-shadow: 0 12px 16px 0 #a7968ab3, 0 17px 50px 0 #a7978a6b;
}
@media (max-width: 767px) {
  .isaImage {
    display: none;
  }
  .homeContent h2 {
    font-size: 40px;
  }
  .homeContent h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .homeContent p {
    line-height: 25px;
    font-size: 15px;
  }
  .buttonContainer {
    margin-top: 0;
  }
  .buttonHome {
    padding: 6px 15px;
    font-size: 16px;
    margin: 4px 2px;
  }
}
