.HomePage {
  padding: 50px;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.isaImage {
  max-width: 50%;
  height: auto;
}
.isaImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
