nav {
  height: 80px;
}
img {
  position: absolute;
  left: 10px;
  top: 5px;
  max-width: 100px;
}
.navbar {
  align-content: center;
}
.colorNavbar {
  background: rgba(187, 148, 118, 0.66);
}
.collapse {
  flex-direction: row-reverse;
}
