.PortfolioPage {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* PortfolioPage.css */
.PortfolioPage {
  text-align: center;
}

.project-list {
  padding: 20px;
}

ul.row {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.col-md-4 {
  padding: 10px;
}

/* Styles for the ProjectCard component */
.project-card {
  background-color: #bb9476;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #bb9476;
}

.project-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.project-card p {
  font-size: 14px;
  margin-bottom: 15px;
  color: white;
}

.project-links {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.project-links a {
  text-decoration: none;
  color: #bb9476;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f8f5f0;
  transition: background-color 0.3s ease;
}

.project-links a:hover {
  background-color: #f8f5f0;
}
