/* ServicesPage */
.ServicesPage {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Service card container */
.servicePageContainer {
  margin-top: 20px;
  flex-direction: row;
}

.cardservicePage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 300px;
  box-shadow: 0 10px 20px rgb(187, 148, 118);
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  background: rgb(187, 148, 118);
  border: 2px solid #b9957b;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentservicePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.contentservicePage p {
  margin: 0;
}
.contentservicePage .headingservicePage {
  font-weight: 700;
  font-size: 28px;
  color: #6e4e37;
}

.contentservicePage .paraservicePage {
  line-height: 1.5;
  font-size: 18px;
}

.cardservicePage:hover {
  box-shadow: 0 0 20px rgba(202, 128, 54, 0.8);
  border-color: #d6b088;
}
@media (max-width: 1200px) {
  .cardservicePage {
    width: auto;
    height: auto;
    margin-right: 30px;
  }
}
