/* UpArrowIcon.css */
.upArrowIconContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
}

.Icon {
  position: relative;
}

#iconUpArrowIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* Responsive styles */
@media (max-width: 767px) {
  .upArrowIconContainer {
    bottom: -8px;
    right: -8px;
  }
}
